<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(<%= image_path "group-of-fit-female-friends-3822725.jpg" %>);">
    <div id="text-banner">
      <h1>Lucifit</h1>
      <p>Cours de trampoline</p>
    </div>
  </div>

  <div id="description" class="container-home">
    <h2>Envie de découvrir un sport qui va enfin te motiver à te bouger tout en t'amusant?</h2>
    <p>Lucifit te prépare chaque semaine un cours de trampoline
      Groupe de 10 personnes max, chaque cours dure 1h.
      L'opportunité parfaite pour vous défouler tout en brûlant des calories
    </p>
  </div>

  <div id="planning" class="container-home">
    <h2>Planning de la semaine</h2>
    <% if @weekly_courses.empty? %>
      <h3>Pas de cours cette semaine</h3>
    <% else %>
      <% @weekly_courses.each do |course|%>
        <div class="course-card col-4 mt-2">
          <h5 class="pt-3"><i class="fas fa-map-marker-alt"></i> <%= course.address%></h5>
          <hr>
          <p><%= "#{course.date.day}/#{course.date.month}/#{course.date.year}" %></p>
          <p><%= "#{course.time.hour}:#{course.time.min}"%></p>
          <p>3 places restantes</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Réserve ta place
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Réserve ta place</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render template: "bookings/form" %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container-home">
    <h2>Qui suis-je?</h2>
    <p>Je m'appelle Lucie Mathieu et j'habite à Ohey.
      Il y a quelques années, j'ai suivi un cours de trampoline
      et je suis tombée amoureuse de ce sport. Je voulais partager
      cette nouvelle passion avec d'autres personnes, c'est pourquoi
      j'ai suivi une formation pour pouvoir donner mes propres cours de
      trampoline. <br>
      Je suis une personne pleine d'énergie et de créativité, et je fais
      de mon mieux pour que chaque cours soit une partie de plaisir pour
      tout le monde!
    </p>
  </div>

  <div class="container-home">
    <h2>En savoir plus</h2>
    <p>Si vous voulez plus d'information ou si vous avez des questions,
      n'hésitez pas à me contacter!
    </p>
    <div id="contact-details">
      <p>Tél: </p>
      <p>Mail: </p>
    </div>
  </div>

<footer>
  <ul>
    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
  </ul>
</footer>
