<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(<%= image_path "group-of-fit-female-friends-3822725.jpg" %>);">
    <div id="text-banner">
      <h1>Lucifit</h1>
      <p>Cours de trampoline</p>
    </div>
  </div>

  <div id="description" class="container-home">
    <h2>Envie de découvrir un sport qui va enfin vous motiver à vous bouger tout en vous amusant?</h2>
    <p>Lucifit vous prépare chaque semaine un cours de trampoline
      Groupe de 10 personnes max, chaque cours dure 1h.
      L'opportunité parfaite pour vous défouler tout en brûlant des calories
    </p>
  </div>

  <div id="planning" class="container-home">
    <h2>Planning de la semaine</h2>
    <% if @weekly_courses.empty? %>
      <h3>Pas de cours cette semaine</h3>
    <% else %>
      <% @weekly_courses.each do |course|%>
        <% if course.date >= Date.today %>
          <div class="course-card col-10 col-lg-4 mt-3">
            <h5 class="pt-3"><i class="fas fa-map-marker-alt"></i> <%= course.address%></h5>
            <hr>
            <% minutes = course.time.min %>
            <% if minutes < 10 %>
              <% min = "0" + minutes.to_s %>
            <% else %>
              <% min = minutes%>
            <% end %>
            <p><%= "#{course.date.day}/#{course.date.month}/#{course.date.year} - #{course.time.hour}:#{min}"%></p>
            <% if course.remaining_places > 0 %>
              <p>Il reste <%= course.remaining_places%> places</p>
              <%= link_to 'Réserver', new_course_booking_path(course), class: 'btn btn-primary mb-2' %>
            <% else %>
              <p class="text-primary font-weight-bold">Ce cours est complet</p>
              <%= link_to 'Réserver', new_course_booking_path(course), class: 'btn btn-primary mb-2 disabled', disabled: true %>
            <% end %>
          </div>
        <% else %>
          <div class="course-card col-10 col-lg-4 mt-3">
            <h5 class="pt-3"><i class="fas fa-map-marker-alt"></i> <%= course.address%></h5>
            <hr>
            <% minutes = course.time.min %>
            <% if minutes < 10 %>
              <% min = "0" + minutes.to_s %>
            <% else %>
              <% min = minutes%>
            <% end %>
            <p><%= "#{course.date.day}/#{course.date.month}/#{course.date.year} - #{course.time.hour}:#{min}"%></p>
            <p class="text-primary font-weight-bold">Ce cours est déjà passé</p>
          </div>
        <%end%>
      <% end %>
    <% end %>
    <div class="link-extra-courses">
      <%= link_to "Voir tous les cours planifiés", courses_path %>
    </div>
  </div>

  <div class="container-home">
    <h2>Qui suis-je?</h2>
    <p> Je m'appelle Lucie Mathieu et j'habite à Ohey.
      Il y a quelques années, j'ai suivi un cours de trampoline
      et je suis tombée amoureuse de ce sport. Je voulais partager
      cette nouvelle passion avec d'autres personnes, c'est pourquoi
      j'ai suivi une formation pour pouvoir donner mes propres cours de
      trampoline. <br>
      Je suis une personne pleine d'énergie et de créativité, et je fais
      de mon mieux pour que chaque cours soit une partie de plaisir pour
      tout le monde!
    </p>
  </div>

  <div class="container-home">
    <h2>En savoir plus</h2>
    <p>Si vous voulez plus d'information ou si vous avez des questions,
      n'hésitez pas à me contacter!
    </p>
    <div id="contact-details">
      <p><i class="fas fa-mobile"></i> 0496 91 12 21</p>
      <p><i class="fas fa-envelope"></i> lucie.mathieu93@hotmail.com</p>
    </div>
  </div>

<footer>
  <h4>Suivez-moi sur Facebook:</h4>
  <p><a href="https://www.facebook.com/LuciFit-110557990469320" target="_blank"><i class="fab fa-facebook"></i></a></p>
</footer>
