<!DOCTYPE html>
<html>
  <head>
    <title>LucifitWebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
   <title>Lucifit - cours de trampoline</title>
   <%= favicon_link_tag %>
    <meta name="description" content="Envie de découvrir un sport qui va enfin vous motiver à vous bouger tout en vous amusant? Cours de trampoline à Andenne et Ohey." />
    <meta property="og:title" content="Lucifit - cours de trampoline">
    <meta property="og:description" content="Envie de découvrir un sport qui va enfin vous motiver à vous bouger tout en vous amusant? Cours de trampoline à Andenne et Ohey.">
    <meta property="og:image" content="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/104017723_165586911633094_3351656514515100403_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=mCRoAf6BLdUAX9QgssD&_nc_ht=scontent-bru2-1.xx&oh=1a819df3ec90ce793a16c67e50779dd4&oe=5FB80159">
    <meta property="og:url" content="https://www.lucifit.be">
  </head>

  <body class="bg-white">
    <div>
    <%= render 'shared/navbar'%>
    <%= render 'shared/flashes' %>
    <div id="modal-holder"></div>
    <%= yield %>    
    </div>
  </body>
</html>
